body{
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    background: #E3E9E1;
}

/* ----- header ----- */
.header-area {
    position: relative;
    z-index: 200;
}

.top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
}

.justify-content-between {
    -webkit-box-pack: justify;
}

.top-header-area .contact-info {
    position: relative;
    z-index: 1;
}

.top-header-area .contact-info a {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 30px;
    color: rgba(0,0,0,.3);
    font-size: 14px;
    border-right: 1px solid #ebebeb;
}


.top-header-area .follow-us {
    position: relative;
    z-index: 1;
    padding-right: 50px;
    padding-left: 30px;
}

.smheader {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
}

.top-header-area .follow-us span {
    display: inline-block;
    padding: 0 20px;
    line-height: 30px;
    color: rgba (0,0,0,0.3);
    font-size: 12px;
    text-transform: uppercase;
}

.top-header-area .follow-us a {
    display: inline-block;
    padding: 0 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    border-left: 1px solid #ebebeb;
}

.a, a:hover, a:focus {
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color:rgba(0,0,0,.8);
    font-weight: 600;
}

/* ----- logo ----- */
.logo {
    width: 450px;
    height: 80px;
}

/* ----- navigation bar ----- */
nav {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold; 
    letter-spacing: 1px;
}

/* ----- carousel ----- */
.carousel-caption {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.8;
    font-size: 16px;
    padding: 10px 0px 0px 10px;
}

.carouseltitle {
    font-weight: bold;
    font-family: Tw Cen MT Condensed;
    font-size: 22px;
    letter-spacing: 2px;
    color: #000000;
}

.carouselp {
    color: #000000;
    font-family: Cambria;
}

/* ------ short message ------ */
.shortmessagetitle { 
    font-family: Script MT;
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #3a4660;
    text-align: center;
}

.shortmessage {
    font-family: Cambria;
    font-size: 19px;
    margin: 0px;
    padding: 0px;
    color: #000000;
    text-align: center;
}

/* ----- special deals ----- */
.special_deals {
    border-style: double;
    border-width: 5px;
    padding: 40px;
    padding-right: 60px;
}

.special_deals h4 {
    font-family: TW Cen MT;
    font-weight: bold;
    letter-spacing: 1px; 
}

.special_deals h3 {
    font-family: Script MT;
    font-size: 50px;
}

.special_deals p {
    font-family: 'Poppins';
    font-size: 17px;
     line-height: 2.0;
}

.from {
    font-family: Tw Cen MT;
    text-align: right;
    font-size: 20px;
    letter-spacing: 1px; 
}

/* ----- subjects ----- */
.img1 {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img1button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.con1:hover .img1 {
  opacity: 0.3;
}

.con1:hover .img1button {
  opacity: 1;
}

.img2 {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img2button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.con2:hover .img2 {
  opacity: 0.3;
}

.con2:hover .img2button {
  opacity: 1;
}

.img3 {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img3button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.con3:hover .img3 {
  opacity: 0.3;
}

.con3:hover .img3button {
  opacity: 1;
}

.img4 {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img4button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.con4:hover .img4 {
  opacity: 0.3;
}

.con4:hover .img4button {
  opacity: 1;
}

.img5 {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img5button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.con5:hover .img5 {
  opacity: 0.3;
}

.con5:hover .img5button {
  opacity: 1;
}

.subjecttitle {
    font-family: Script MT;
    font-size: 55px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #3a4660;
    text-align: center;
}

.coltitle {
    font-family:Tw Cen MT;
    font-weight: bold;
    color: #3a4660;
    letter-spacing: 1px;
}

.subject {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #B2CAC1;
}

.subjectcontent {
    font-family: Cambria;
    font-size: 16px;
    color: #000000;
}

.btn-secondary {
   background-color: #3a4660;
   font-size: 18px;
   font-family: Calibri;
}

/* ----- how are we different ----- */
.whylearnwithustitle {
    font-family: Georgia;
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    padding-right: 90px;
    color: #3a4660;
    text-align: right;
}

hr {
    border-top: 5px double #2E4B7A;
    width: 94%;
    margin-top: 5px;
}

.column_whylearnwithus {
    font-family: Tw Cen MT;
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; 
}

.column_whylearnwithus h3 {
    font-weight: bold; 
    font-size: 25px;
}

.row_whylearnwithus:after {
    content: "";
    display: table;
    clear: both;
}

.border-right {
    border-right: 1px solid black;
}

.row_whylearnwithus p{ 
   margin-left: 30px;
   margin-right: 30px;
   font-size: 17px;
}

/* ----- tutor ----- */
.card {
    height: 100%;
}

.card-title {
    font-family: Tw Cen MT;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tutorid {
    font-family: Tw Cen MT;
    font-weight: bold;
    font-size:16px;
    letter-spacing: 1px;
}

.card-text {
    font-family: cambria;
    font-size: 16px;
}

/* ------ terms and conditions ------ */
.fancy-collapse-panel .panel-default > .panel-heading {
    padding: 0;
}

.fancy-collapse-panel .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #3a4660;
    color: #ed8a63;
    position: relative;
    text-decoration: none;
    font-family: Tw Cen MT ;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.fancy-collapse-panel .panel-heading a:after {
    font-family: "FontAwesome";
    content: "\f147";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px;
}

.fancy-collapse-panel .panel-heading a.collapsed:after {
    content: "\f196";
}

.panel-body {
    font-family: Cambria;
    font-size: 16px;
    text-align: left;
}

/* ------ footer ------ */
#bottom {
    position: relative;
    background-color: #B5D1D8;
    padding: 2px;
    margin: 5px 0px 0px 0px;
} 

.copyright {
    font-family: Calibri;
    font-size: 14px;
    text-align: center;
    color: #000000;
}


.smfooter {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

.connecttitle {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
}

.partnerstitle {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
}

.w-50 {
    width: 50%!important; 
}

.subjectstitle {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
}

.quicklinkstitle {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
}


.bottom_content {
    font-family: Calibri;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

a {
    color: #3a4660;
}


